body{
  font-family: "Montserrat", sans-serif;
}
$menu-background-color: #4CAF50; 
$menu-text-color: #fff; 

.menu {
  background-color: $menu-background-color;
  padding: 10px;
  height: 4rem;
  display: flex;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  gap: 80px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    

    li {
      margin-right: 20px;

      
      &:last-child {
        margin-right: 0;
      }

      a {
        text-decoration: none;
        color: #fff;
        font-size:20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

section.profile {
    display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
  

}

.profile__information {
    width: 40%;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.profile__information-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    
}
.profile__information-change{
    
    width: 25%; 
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.profile__information-name,
.profile__information-surname,
.profile__information-email,
.profile__information-date-of-birth,
.profile__information-phone-number,
.profile__information-gender,
.profile__information-role {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.profile__information-name span,
.profile__information-surname span,
.profile__information-email span,
.profile__information-date-of-birth span,
.profile__information-phone-number span,
.profile__information-gender span,
.profile__information-role span {
    font-weight: bold;
}

.profile__information-input{
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    font-size: 1rem;
    width: 100%;
}
.profile_information-button,
.profile__information-submit,
.role-button,
.profile_further-information-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1rem;
}

.profile_information-button:hover,
.profile__information-submit:hover,
.role-button:hover,
.profile_further-information-button:hover {
    background-color: #45a049;
}

.profile__information-change {
    display: none;
}
.profile {
  &__client-information{
    width: 25%;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    p{
      font-size: 1rem;
      margin-bottom: 0.5rem;
      font-weight: 300;
    }
    h2 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
      font-weight: 500;
    }
    }
    
  }
  

.profile_form-role,
.profile_form {
    width: 27%; /* Adjust width as needed */
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

.profile_form-role {
    z-index: 1;
    text-align: center;
}

.profile_form-label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.profile_form-input,
.profile_form-textarea {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    font-size: 1rem;
    width: 100%;
}

.profile_form-textarea {
    resize: vertical;
}

.profile_form-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.profile_form-button:hover {
    background-color: #45a049;
}
.trainer-item {
    margin-bottom: 20px;
  
    div {
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      padding: 10px;
      border-radius: 5px;
  
      h3 {
        margin-top: 0;
      }
  
      p {
        margin: 5px 0;
      }
  
      strong {
        font-weight: bold;
      }
    }
  }

  .trainer-searching {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: 35px;
    width: 38%;
    
    &_title {
      color: #45a049;
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    &_button {
      background-color: #45a049;
      border: none;
      border-radius: 5px;
      color: white;
      padding: 10px 20px;
      text-transform: uppercase;
  
      &:hover {
        background-color: darken(#45a049, 10%);
      }
    }
  
    &_list {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
  
  #client-list {
    margin-top: 50px;
  }
  #nutritionModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  
    & form {
      display: flex;
      flex-direction: column;
  
      & h3 {
        font-size: 24px;
        margin-bottom: 10px;
      }
  
      & input[type="hidden"] {
        display: none;
      }
  
      & textarea {
        resize: vertical;
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        height: auto; 
      }
  
      & button {
        background-color: #45a049;
        border: none;
        border-radius: 5px;
        color: white;
        text-transform: uppercase;
        padding: 5px 10px;
        font-size: 14px;
        margin-top: 10px;
        &:hover {
          background-color: darken(#45a049, 10%);
        }
  
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }
  
  .client-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.2s ease-out;

  
    &:hover {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  
    & button {
      background-color: #45a049;
      border: none;
      border-radius: 5px;
      color: white;
      padding: 5px 10px;
        font-size: 14px;
        margin-top: 10px;
        margin-right: 8px;
      text-transform: uppercase;
      &:hover {
        background-color: darken(#45a049, 10%);
      }
    }
  
    & .client-additional-info {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid #ccc;
    }
  }

  .trainer-list {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    
  
      h3 {
        font-size: 20px;
        margin-bottom: 10px;
      }
  
      p {
        margin-bottom: 5px;
      }
  
      
    }
  
  .trainer-item {
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.2s ease-out;

    &:hover {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  }
  .train-btn {
    background-color: #45a049;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
      font-size: 14px;
      margin-top: 10px;
      margin-right: 8px;
    text-transform: uppercase;
  &:hover {
    background-color: darken(#45a049, 10%);
  }
  }
  .progress-ring {
    display: inline-block;
    margin-right: 1rem;
  
    .progress-ring-circle {
      stroke-dasharray: 314; 
      stroke-dashoffset: 314; 
      transition: stroke-dashoffset 0.5s ease-out;
      color: darken(#45a049, 10%);
  
      [data-progress]:not([data-progress="0"]) ~ .progress-ring & {
        stroke-dashoffset: calc(314 - (314 * #{progress / 100}));
      }
    }
  }
  

// Goal List
#goal-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 60px;
  .goal-item {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    text-align: center;
    
    p {
      margin: 0;
    }

    .start-goal-btn,
    .complete-goal-btn {
      background-color: #45a049;
      border: none;
      border-radius: 5px;
      color: white;
      padding: 5px 10px;
      font-size: 14px;
      margin-top: 10px;
      margin-right: 8px;
      text-transform: uppercase;
      &:hover {
        background-color: darken(#45a049, 10%);
      }
      &:disabled {
        background-color: darken(#45a049, 30%);
        cursor: not-allowed;
      }
    }
  }
}

.goal {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 60px;

  &__header{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  &__form {
    display: flex;
    flex-direction: column;

    &-label{
      display: block;
      margin-bottom: 0.5rem;
  }
    &-input,
    &-select{
      padding: 0.5rem;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-bottom: 1rem;
  }
    &-button{
      background-color: #45a049;
      border: none;
      border-radius: 5px;
      color: white;
      padding: 5px 10px;
      font-size: 14px;
      margin-top: 10px;
      margin-right: 8px;
      text-transform: uppercase;
      &:hover {
        background-color: darken(#45a049, 10%);
      }
}
}
}

$faq-color: #333;
$faq-bg-color: #f4f4f4;
$faq-border-color: #ccc;
$faq-border-radius: 5px;
$faq-transition: all 0.3s ease;

@mixin faq-style {
  background-color: $faq-bg-color;
  border: 1px solid $faq-border-color;
  border-radius: $faq-border-radius;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: $faq-transition;

  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
}

.faq {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  &__header {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: #45a049;
  }

  &__item {
    @include faq-style();
    margin-bottom: 20px;

    .faq__question {
      color: $faq-color;
      cursor: pointer;
      margin-bottom: 0.5rem;
    }

    .faq__answer {
      padding-left: 1rem;
      display: none;
    }
  }

  &__header,
  &__question {
    font-weight: bold;
  }
}

.contact {
  text-align: center;
  @include faq-style();
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  &__header {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: #45a049;
    font-weight: bold;
    
  }

  &__text {
    margin-bottom: 1rem;
  }

  &_list {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 0.5rem;
    }
  }

  .feedback {
    &__heaader,
    &__text {
      display: block;
      margin-bottom: 0.5rem;
    }

    &__text {
      width: 100%;
    }

    &__btn {
      display: block;
      margin: 0 auto;
      padding: 0.5rem 1rem;
      background-color: #45a049;
      color: #fff;
      border: none;
      border-radius: $faq-border-radius;
      cursor: pointer;
    }
  }
}

.quote-container{
  text-align: center;
  margin-top: 20px;
  &__header {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__text{
    text-transform: uppercase;
  }
}